<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Forgot password</title>
  </head>

  <body>
    <div
      id=':n0'
      class='ii gt'
      jslog='20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc3NDc2NTc0OTIwNDg2ODkzMiIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc3NDc2NTc0OTIwNDg2ODkzMiIsbnVsbCxbXV0.'
    >
      <div id=':mz' class='a3s aiL msg-536320765629827696'><u></u>
        <div
          style="color:#1c1d1f;margin:0;font-family:'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:16px;font-weight:400;line-height:1.4"
        >
          <table
            id='m_-536320765629827696udemy-email'
            width='100%'
            cellpadding='0'
            cellspacing='0'
            style='background-color:#f7f9fa;padding:24px'
          >
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td width='600'>
                  <table
                    width='100%'
                    cellpadding='0'
                    cellspacing='0'
                    style='background-color:#fff'
                  >

                    <tbody>
                      <tr>
                        <td
                          style='border-bottom:1px solid #cccccc;padding:24px'
                        >

                          <img
                            style='display:block;max-height:28px;width:auto'
                            src='https://res.cloudinary.com/daily-now/image/upload/f_auto,q_auto/v1/posts/516f86d1b77609ab3f11d28c0bb7bbcc?_a=AQAEuiZ'
                            alt='Test'
                            width='75'
                            class='CToWUd'
                            data-bit='iit'
                          />

                        </td>
                      </tr>

                      <tr>
                        <td style='padding:24px 24px 0 24px'>
                          <p><a style='text-decoration:none;color:#1c1d1f'>

                              Hi
                              {{name}},

                            </a></p>

                          <p>
                            <a style='text-decoration:none;color:#1c1d1f'>A
                              password reset for your account was requested.</a>
                          </p>

                          <p>
                            <a style='text-decoration:none;color:#1c1d1f'>Please
                              click the button below to change your password.</a>
                          </p>

                          <p style='margin-bottom:0'>
                            <a style='text-decoration:none;color:#1c1d1f'>Note
                              that this link is valid for 24 hours. After the
                              time limit has expired, you will have to resubmit
                              the request for a password reset.</a>
                          </p>

                        </td>
                      </tr>

                      <tr>
                        <td style='padding:16px 24px 0 24px'>
                          <a
                            href='{{urlRedirect}}'
                            style='border:1px solid #cccccc;display:inline-block'
                            target='_blank'
                          >
                            <span
                              style="background:#1c1d1f;color:#fff;display:inline-block;min-width:80px;border-top:14px solid #1c1d1f;border-bottom:14px solid #1c1d1f;border-left:12px solid #1c1d1f;border-right:12px solid #1c1d1f;text-align:center;text-decoration:none;white-space:nowrap;font-family:'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:16px;font-weight:700;line-height:1.2;letter-spacing:-0.2px"
                            >Change Your Password</span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style='padding:24px 0 0 0'></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <img
            src='https://ci4.googleusercontent.com/proxy/d_4BmYp4Qhi_nMr53BwCS6isG9Ayshbh0gtiYSGchFaV_w56ZKWzYvnzqbELlZZRmJghOekW_jw3TsXfI0UwYR5uIeVmNpqu56oqZTqoi5CfjSCjkP6BV3rP7fsa4Bo8nWWUC7l7eWJDuUw-0M8oeXqXUtSmhAs6UdHyUhzDelmy510hf3tTeTBbXzwRO5mwuD2FqcLjLeTn3yWNXUsFDShCpeHbSWFwkrGc939V-BXcKnOJThOz0F2N_YSN9ek-3eAyhmw55V8GU9D-XvLEZl4axNLkmU5gdPL287GM9muR8wIcYcyRHyk-oFZheGjk7rgT4NRlDXlSWY1mMnZFGuqI2nr6WGkJjNK3v-fGs-frFyxjNvNlZO1z7tzni-U22seb8bGefBeDlgvIxPFxV4rgG5cebyHUuSvepRsDDZllx7S-t-UPQO3A-1-zhv3pBKpIG2oBCeAH9sI1wzOZds0SCCPHaejcUu9qVkW6fkcguijRE6-xkyld4ZhRo-ZnxUYskn0fL0X2oI9TAh_hml-uKBrCWo1Oi0QCXJhCG9c-dXc_Lwi5kfHVksi26eGnlyVkmf6Ea2Tw6hgCEe1--oh-rR3DG64n3w=s0-d-e1-ft#https://e2.udemymail.com/wf/open?upn=WVjkAjy8GSEPDpwls5uTmVAZFwOSg364I9hVYPwjD-2B0TNTjITXfUGJlVug05pxCZ4yIme8vDCQS8Y5MiUlE8S8DEodrkXUH2xStSmZmNcXn1mYWlDzi-2BLmAn-2FvZ6Cwd5VO6ixftKJYl9zQ9-2FSdcheZldH2hEVEBCypagBHaELubEmrsPJUM4Q0zjOg3RFeSe2AvMC9OQggpUfPT3HhO8sw39549p8-2FmMDxwMtkiJJ4aJNS5JKLsb4ObXaNxd0gJkuxOFB6n0xk4XikEnFXzX1TGvtuLfYNS8kImoowMuRmRGxFN-2B65kyyq0-2B8gNsNO34lhFldcMDK4PzTnTZDDBoD3dqQ3ozkwJH7rSOSBbVkaR1wlff5Tjuh5idf-2FHm3cGq'
            alt=''
            width='1'
            height='1'
            border='0'
            style='height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important'
            class='CToWUd'
            data-bit='iit'
            jslog='138226; u014N:xr6bB; 53:WzAsMl0.'
          />
        </div>
        <div class='yj6qo'></div>
        <div class='adL'>
        </div>
      </div>
    </div>
  </body>

</html>